<h1 *ngIf="isAddMode">Agregar Cliente</h1>
<h1 *ngIf="!isAddMode">Editar Cliente</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">

        <!-- Nombre -->
        <div class="form-group col-5">
            <label>Nombre</label>
            <input
        type="text"
        formControlName="firstName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
      />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
        </div>

        <!-- Apellido -->
        <div class="form-group col-5">
            <label>Apellido</label>
            <input
        type="text"
        formControlName="lastName"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
      />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">El Apellido es requerido.</div>
            </div>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-10">
            <label>Direccion</label>
            <input
    type="text"
    formControlName="direccion"
    class="form-control"
    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
  />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">La Direccion es requerida.</div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Guardar
    </button>
        <a routerLink="/users" class="btn btn-link">Cancelar</a>
    </div>
</form>