<h1 *ngIf="isAddMode">Agregar Cliente</h1>
<h1 *ngIf="!isAddMode">Editar Cliente</h1>

<!-- Form -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <!-- Nombre -->
    <div class="form-group col-5">
      <label>Nombre</label>
      <input type="text" formControlName="nombre" class="form-control" />
    </div>

    <!-- Apellido -->
    <div class="form-group col-5">
      <label>Apellido</label>
      <input type="text" formControlName="apellido" class="form-control" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-10">
      <label>Direccion</label>
      <input type="text" formControlName="direccion" class="form-control" />
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      Guardar
    </button>
    <a routerLink="/users" class="btn btn-link">Cancelar</a>
  </div>
</form>
